.tasksList {
    background-color: black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .listTitle {
        color: $lightgrey;
        font-weight: 600;

        .listOfTasks {
            max-height: 74vh;
            overflow-y: auto;

            .task {
                background-color: $darkgrey;
                color: $lightgrey;
                border-radius: 12px;
            }
        }
    }

}